 
<nav class="navbar navbar-expand-md navbar-dark bg-blog">
    <ul class="navbar-nav mr-auto navbar-nav-row">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/blog']"  routerLinkActive="active"  [routerLinkActiveOptions]="{exact: true}">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/blog/new']"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Új bejegyzés</a>
        </li>
      </ul>
</nav>
 