.bg-blog {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color:#343a40;
    margin-bottom: 20px;
    border-top: 1px solid #878787;
}

.navbar-nav-row {
    flex-direction: row; 
}

.navbar-nav-row .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
}