<section class="bloglist">
    <header class="header"><h2>{{ contentTitle }}</h2></header>
    <section class="row posts">
            <article class="col col-12 post"  *ngFor="let post of posts">
                    <header><h3 class="title">{{ post.title }}</h3></header>
                    <p class="text-justify body">{{ post.body }}</p>
                    <div class="text-right">
                            <button class="btn btn-outline-secondary" (click)="toggleComments(post.id)">Hozzászólások {{ visibleComments[post.id]?'elrejtése':'megjelenítése' }}</button>
                    </div>
                    <div class="" *ngIf="visibleComments[post.id]">
                            <blog-post-comment
                                [postId]="post.id">
                            </blog-post-comment>
                    </div>
            </article>
    </section>

    <div class="alert alert-primary" role="alert"  *ngIf="posts.length == 0">
            Jelenleg nincs elérhető post!
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
            {{ errorMessage }}
     </div>
</section>