<section class="blognewpost">
    <header class="header"><h2>{{ contentTitle }}</h2></header>
    <div class="alert alert-success alert-dismissible" role="alert" *ngIf="formSubmitSuccess">
         Sikeres bejegyzés mentés!
    </div>
    <div class="alert alert-warning alert-dismissible" role="alert" *ngIf="errorMessage != ''">
        {{ errorMessage }}
    </div>
    <form class="form-row" [formGroup]="postForm" (ngSubmit)="onSubmit()">

            <div class="col col-6">
                <label for="name" class="control-label required">Név</label>
                <input type="text" id="name" class="form-control" [ngClass]="isFieldValidCSS('name')" formControlName="name">
                <div class="invalid-feedback">Név megadása kötelező</div>
            </div>
        
            <div class="col col-6">
                <label for="email" class="control-label required">E-mail</label>
                <input type="email" id="email" class="form-control"  [ngClass]="isFieldValidCSS('email')"  formControlName="email">
                <div class="invalid-feedback">E-mail cím megadása kötelező</div>
            </div>
           
            <div class="col-sm-12">
                <label for="title" class="control-label required">Bejegyzés cím</label>
                <input type="input" id="title" class="form-control"  [ngClass]="isFieldValidCSS('title')" formControlName="title">
                <div class="invalid-feedback">Bejegyzés cím megadása kötelező</div>
            </div>

            <div class="col-sm-12">
                <label for="body" class="control-label required">Bejegyzés</label>
                <textarea  id="body" class="form-control" [ngClass]="isFieldValidCSS('body')" formControlName="body"></textarea>
                <div class="invalid-feedback">Bejegyzés megadása kötelező</div>
            </div>
     
            <div class="col-sm-12 text-center mt-4 mb-4">
                <button type="submit" class="btn btn-primary">Mentés</button>
            </div>

    </form>
</section>