.blogcomment {
    font-size: 0.8em;
}
.blogcomment  .header {
    background-color: #DDDDDC;
    margin: 10px 0;
    padding: 10px 5px;
    border-radius: 5px;
}
.blogcomment .comment-header {
    background-color: #e7e5e5;
    padding: 5px;
    border-radius: 5px;
    font-weight: 700;
}
.blogcomment .comment-body {
    padding: 10px 0; 
}