<section class="blogcomment">
    <header class="header"><h5 class="mb-0 ">Hozzászólások</h5></header>
    <article class="card comments" *ngFor="let comment of comments">
        <div class="card-body">
            <header class="card-title mb-0 comment-header">{{ comment.name }} ( {{ comment.email }} )</header>
            <div class="card-text text-justify comment-body">{{ comment.body }}</div> 
        </div>
    </article>
</section>
